<!DOCTYPE html>
<html lang="ja" ng-app="waruguchiApp">
<head>
  <meta charset="UTF-8">
  <title>Waruguchi</title>
  <!-- AngularJS -->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js'></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type='text/javascript' src='index.js'></script>
</head>
<body>
  <div class='container-fluid'>
    <div class='row header'>
      <h1 align='center'>Waruguchi<small>思ってることは、すぐに言った方がいい。</small></h1>
    </div>
  <div class='row content'>
    <div class="col-md-8 col-md-offset-2">
      <div ng-controller="PostController">
        <div class="kenasu-container">
          <ul class="unstyled">
            <li ng-repeat="post in posts" class="kenasu kenasu-item">
              <span >あいつ{{post.content}}</span>
            </li>
            <li class="kenasu inputed-kenasu">
              <span>あいつ{{postContent}}</span>
            </li>
          </ul>
        </div>
        <form ng-submit="addPost()">
          <div class='input-kenasu input-group'>
            <input class='user_name form-control' maxLength=10 ng-model="userName" placeholder='あいつ'>
            <input class='form-control' type="text" ng-model="postContent" maxLength=100 placeholder="きもい。">
            <span class="input-group-btn">
              <input class='btn btn-success'type="submit" value="send">
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
