/*
 * HEADER
 */

.header {
  background-color: #ddd;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1030;
  display: inline;
}

.header h1 {
  margin: 0;
  height: 60px;
  line-height: 60px;
  color: #555;
  font-family: Impact,Charcoal;
}

.header h1 small {
  padding-left: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*
 * CONTENT
 */

.content {
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  height: auto !important;
  height: calc(100% - 160px);
  min-height: calc(100% - 160px);
}

.main-content {
}
/*
 * Item in feed
 */

.kenasu-container {
  border: 3px solid #e1e8ed;
  background-color: white;
}

.kenasu {
  font-size: 15px;
  padding: 3px;
  height: 50px;
  line-height: 50px;
}

/*
 * Item in feed
 */

.kenasu-container {
  border: 3px solid #e1e8ed;
}

.kenasu-item {
  border-bottom: 1px solid #e1e8ed;
  font-size: 18px;
}

.kenasu-content {
  float: left;
}

.fav-button {
  float: left;
  margin-left: 10px;
}

.inputed-kenasu {
  font-weight: bold;
}

/*
 * FOOTER
 */

.footer {
  height: 80px;
  bottom: 0;
  position: fixed;
  width: 100%;
}

/*
 * Input form for Kenasu
 */

.input-kenasu {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
}

.input-kenasu input[type=submit] {
  width: 80px;
  background-color: #04B4AE;
}

input.input-user_name {
  float:left;
  width: 20% !important;
}

input.input-content {
  width: 80% !important;
}

/*
 * COMMON
 */

html, body {
  height: 100%;
  background-image: url(http://lisperati.com/lisplogo_alien_256.png);
}

.container-fluid {
  height: 100%;
}

.unstyled {
  list-style:none;
  padding: 5px;
}
