/*
 * HEADER
 */
.header {
  background-color: #ddd;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1030;
  display: inline;
}

.header h1 {
  margin: 0;
  height: 60px;
  line-height: 60px;
  color: #555;
  font-family: Impact,Charcoal;
}

.header h1 small {
  padding-left: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content {
  margin-top: 60px;
}

.kenasu {
  line-height: inherit;
  border-bottom: 1px solid #e1e8ed;
  font-size: 15px;
  padding: 3px;
}

.input-kenasu {
  line-height: inherit;
  font-size: 15px;
  padding: 3px;
}

.content {
  margin-top: 60px
}

.unstyled {
  list-style:none;
  padding: 5px;
}

.kenasu-container {
  border: 3px solid #e1e8ed;
}

